
@using System.Globalization
@model List<TDIHKCorporate.Types.Podcasts>

@{
    CultureInfo cultureInfo = System.Threading.Thread.CurrentThread.CurrentCulture;

    string lang = cultureInfo.TwoLetterISOLanguageName;
}
    <section>
        <h2>Podcasts</h2>
        <div class="podcast-container uk-overflow-hidden">

            @*@foreach (var item in Model)
        {
            <audio data-id="@item.ID" id="audio_@item.ID">
                <source src="@item.PodcastFilePath" type="audio/mpeg">
            </audio>

            <div class="uk-grid uk-grid-collapse podcast-wrapper" uk-grid>
                <div class="uk-width-1-4 uk-width-1-6@s uk-flex uk-flex-middle">
                    <span class="uk-preserve uk-margin-small-left podcast-icon uk-icon uk-icon-button" uk-icon="icon: rss; ratio: 1.5"></span>
                </div>
                <div class="uk-width-expand uk-width-1-3@s">
                    <div class="uk-text-large uk-text-truncate line-height-1 uk-text-bold">@item.PodcastTitle</div>
                    <div class="uk-text-small line-height-1">@item.PodcastDescription</div>
                </div>

                <div class="uk-width-1-1 uk-width-medium@s uk-flex uk-flex-middle uk-flex-right uk-flex-between">
                    <a onclick="prev('audio_@item.ID','audioIcon_prev_@item.ID','btnAudio_prev_@item.ID')" id="btnAudio_prev_@item.ID" class="uk-width-auto uk-width-auto@s uk-flex uk-flex-middle uk-flex-center uk-button uk-button-primary uk-border-rounded color-white" style="height: 42px;">
                        <span class="" id="audioIcon_prev_@item.ID" uk-icon="icon: refresh; ratio: 1.1" style="transform: rotateY(180deg);"></span>
                    </a>
                    <a onclick="playAudio('audio_@item.ID','audioIcon_@item.ID','btnAudio_@item.ID')" id="btnAudio_@item.ID" class="uk-button uk-button-primary uk-border-rounded color-white uk-width-small">
                        <span class="" id="audioIcon_@item.ID">PLAY</span>
                    </a>
                    <a onclick="next('audio_@item.ID','audioIcon_next_@item.ID','btnAudio_next_@item.ID')" id="btnAudio_next_@item.ID" class="uk-width-auto uk-width-auto@s uk-flex uk-flex-middle uk-flex-center uk-button uk-button-primary uk-border-rounded color-white" style="height: 42px">
                        <span class="" id="audioIcon_next_@item.ID" uk-icon="icon: refresh; ratio: 1.1"></span>
                    </a>
                </div>
            </div>
        }*@

            <iframe allow="autoplay *; encrypted-media *; fullscreen *" frameborder="0" height="450" style="width:100%;max-width:100%;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.podcasts.apple.com/us/podcast/td-ihk/id1513487698"></iframe>

        </div>
        <div class="uk-flex uk-flex-center uk-margin-medium-top">
            @if (lang == "tr")
            {
                <a class="uk-button uk-button-primary uk-border-rounded" href="/tr/sayfalar/podcastler" type="button">Tüm Podcastler</a>
            }
            else
            {
                <a class="uk-button uk-button-primary uk-border-rounded" href="/de/seiten/podcasts" type="button">Podcasts</a>
            }
        </div>
    </section>

    @*<script>

        function playAudio(audioId, iconId, btnId) {

            var audios = document.getElementsByTagName('audio');
            for (var i = 0, len = audios.length; i < len; i++) {

                pauseAudio(audios[i].id, 'audioIcon_' + audios[i].getAttribute("data-id"), 'btnAudio_' + audios[i].getAttribute("data-id"));
            }

            var x = document.getElementById(audioId);
            x.play();

            var icon = document.getElementById(iconId);
            icon.innerText = "PAUSE";
            //icon.setAttribute("uk-icon", "icon:icn-pause-3; ratio: 0.06")

            var btn = document.getElementById(btnId);
            btn.setAttribute("onclick", " pauseAudio('" + audioId + "', '" + iconId + "', '" + btnId + "')")



        }

        function pauseAudio(audioId, iconId, btnId) {
            var x = document.getElementById(audioId);
            x.pause();

            var icon = document.getElementById(iconId);
            icon.innerText = "PLAY";
            //icon.setAttribute("uk-icon", "icon:icn-play-3; ratio: 1.5")

            var btn = document.getElementById(btnId);
            btn.setAttribute("onclick", " playAudio('" + audioId + "', '" + iconId + "', '" + btnId + "')")
        }

        function next(audioId, iconId, btnId) {
            
            var x = document.getElementById(audioId);
            x.currentTime += 10;

            //var icon = document.getElementById(iconId);
            //icon.innerText = "PAUSE";
            ////icon.setAttribute("uk-icon", "icon:icn-play-3; ratio: 1.5")

            //var btn = document.getElementById(btnId);
            //btn.setAttribute("onclick", " pauseAudio('" + audioId + "', '" + iconId + "', '" + btnId + "')")
        }

        function prev(audioId, iconId, btnId) {
            var x = document.getElementById(audioId);
            x.currentTime -= 10;

            //var icon = document.getElementById(iconId);
            //icon.innerText = "PAUSE";
            ////icon.setAttribute("uk-icon", "icon:icn-play-3; ratio: 1.5")

            //var btn = document.getElementById(btnId);
            //btn.setAttribute("onclick", " pauseAudio('" + audioId + "', '" + iconId + "', '" + btnId + "')")
        }


    </script>*@
