@model  List<TDIHKCorporate.Types.SliderContent>

<!--Markalar (Referanslar)-->
<section>
    <div>
        <!--Test-->
        <!--SEO için gizli h1 etiketi eklendi-->
        <h1 class="uk-hidden">@Resources.resource.PremiumUyeler</h1>
        <!--h1 Etiketi Sonu-->
        <h2 class="uk-text-center uk-text-left@m">@Resources.resource.PremiumUyeler</h2>
        <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider="autoplay: true; autoplay-interval: 2000;">
            <ul class="uk-slider-items uk-flex-middle uk-grid uk-grid-large">

                @foreach (var item in Model)
                {
                    <li class="uk-width-1-1 uk-width-1-3@s uk-width-1-4@m">
                        <a href="@item.SliderUrl" class="uk-link-reset">
                        <div class="uk-flex uk-flex-center uk-flex-middle"><img src="@item.ImagePath" alt="" class="uk-width-3-4"></div></a>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>
