@model List<TDIHKCorporate.Types.Podcasts>

<section>
    <div class="podcast-container uk-overflow-hidden">

        @foreach (var item in Model)
        {
            <audio id="audio_@item.ID">
                <source src="@item.PodcastFilePath" type="audio/mpeg">
            </audio>

            <div class="uk-grid uk-grid-medium podcast-wrapper" uk-grid>
                <div class="uk-width-1-4 uk-width-1-6@s uk-flex uk-flex-middle">
                    <span class="uk-preserve uk-margin-small-left podcast-icon uk-icon uk-icon-button" uk-icon="icon: rss; ratio: 1.5"></span>
                </div>
                <div class="uk-width-1-2 uk-width-2-3@s">
                    <div class="uk-text-large uk-text-truncate line-height-1 uk-text-bold">@item.PodcastTitle</div>
                    <div class="uk-text-small line-height-1">@item.PodcastDescription</div>
                </div>


                <div class="uk-width-1-4 uk-width-1-6@s uk-flex uk-flex-middle">
                    <a onclick="playAudio('audio_@item.ID','audioIcon_@item.ID','btnAudio_@item.ID')" id="btnAudio_@item.ID" class="uk-button uk-button-primary uk-border-rounded color-white">
						<span class="" id="audioIcon_@item.ID">PLAY</span>
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="uk-flex uk-flex-center">
        <a class="uk-button uk-button-primary uk-border-rounded" href="#" type="button">Tüm Podcastler</a>
    </div>
</section>

<script>

    function playAudio(audioId, iconId, btnId) {
        var x = document.getElementById(audioId);
        x.play();

        var icon = document.getElementById(iconId);
        icon.innerText = "PAUSE";
        //icon.setAttribute("uk-icon", "icon:icn-pause-3; ratio: 0.06")

        var btn = document.getElementById(btnId);
        btn.setAttribute("onclick", " pauseAudio('" + audioId + "', '" + iconId + "', '" + btnId + "')")



    }

    function pauseAudio(audioId, iconId, btnId) {
        var x = document.getElementById(audioId);
        x.pause();

        var icon = document.getElementById(iconId);
        icon.innerText = "PLAY";
        //icon.setAttribute("uk-icon", "icon:icn-play-3; ratio: 1.5")

        var btn = document.getElementById(btnId);
        btn.setAttribute("onclick", " playAudio('" + audioId + "', '" + iconId + "', '" + btnId + "')")
    }

</script>
