@model List<TDIHKCorporate.Types.SliderContent>

<section>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
         uk-slider="autoplay: true; autoplay-interval: 4000">

        <ul class="uk-slider-items uk-child-width-1-1">

            @foreach (var item in Model)
            {
                <li>
                        <a target="_blank" href="@item.SliderUrl">
                            <img data-src="@item.ImagePath" alt="@item.SliderContentTitle" uk-img>
                        </a>

                </li>
            }
        </ul>
        <a class="uk-position-center-left uk-position-small slide-arrow" href="#" uk-icon="icon: chevron-left"
           uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small slide-arrow" href="#" uk-icon="icon: chevron-right"
           uk-slider-item="next"></a>
    </div>
</section>

