
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutMaster.cshtml";
}

 

<main class="uk-container">
    <!--Banner-->
    <section>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
             uk-slider="autoplay: true; autoplay-interval: 1500">

            <ul class="uk-slider-items uk-child-width-1-1">
                <li>
                    <img src="~/Content/MainSite/assets/images/banner.png" alt="">

                </li>
                <li>
                    <img src="~/Content/MainSite/assets/images/banner.png" alt="">

                </li>
                <li>
                    <img src="~/Content/MainSite/assets/images/banner.png" alt="">
                </li>
            </ul>
            <a class="uk-position-center-left uk-position-small slide-arrow" href="#" uk-icon="icon:icn-arrow-left"
               uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small slide-arrow" href="#" uk-icon="icon:icn-arrow-right"
               uk-slider-item="next"></a>
        </div>
    </section>
    <!--Markalar (Referanslar)-->
    <section>
        <div>
            <!--SEO için gizli h1 etiketi eklendi-->
            <h1 class="uk-hidden">Home</h1>
            <!--h1 Etiketi Sonu-->
            <h2 class="uk-text-center uk-text-left@m">Premium Mitglieder</h2>
            <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider="autoplay: true; autoplay-interval: 2000">
                <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-flex-middle">
                    <li class="">
                        <a href="" class="uk-flex uk-flex-center"><img src="~/Content/MainSite/assets/images/Turkish Airlines.svg" alt="" class="uk-width-3-4 uk-width-3-4@s" uk-img></a>
                    </li>
                    <li>
                        <a href="" class="uk-flex uk-flex-center"><img src="~/Content/MainSite/assets/images/Hugo Boss.svg" alt="" class="uk-width-3-4 uk-width-3-4@s" uk-img></a>
                    </li>
                    <li>
                        <a href="" class="uk-flex uk-flex-center"><img src="~/Content/MainSite/assets/images/Inal Consulting.svg" alt="" class="uk-width-3-4 uk-width-3-4@s" uk-img></a>
                    </li>
                    <li>
                        <a href="" class="uk-flex uk-flex-center"><img src="~/Content/MainSite/assets/images/Monster.svg" alt="" class="uk-width-3-4 uk-width-3-4@s" uk-img></a>
                    </li>
                    <li><a href="" class="uk-flex uk-flex-center"><img src="~/Content/MainSite/assets/images/trenkwalker.jpg" alt="" class="uk-width-3-4 uk-width-3-4@s" uk-img></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!--Markalar Sonu-->
    <section>
        <!--Takvim-->
        <h2 class="uk-text-center uk-text-left@s uk-text-bold uk-margin-medium-top">Kalender</h2>
        <!--Takvim Kartları-->
        <div class="uk-grid uk-grid-small uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m" uk-grid
             uk-scrollspy="cls: uk-animation-fade; delay: 250">
            <div>
                <div class="uk-card uk-card-primary">
                    <div class="uk-card-body">
                        <div class="uk-flex uk-flex-column">
                            <span class="size-h2">DEZ</span>
                            <span class="size-h1">1</span>
                            <span class="uk-width-1-1 uk-width-2-3@s">Deutsch-Türkisches Kooperationsforum</span>
                            <div>
                                <span class="uk-icon" uk-icon="icon: icn-clock"></span>
                                <span>10:00</span>
                            </div>
                        </div>
                        <a href=""
                           class="uk-button uk-button-secondary uk-width-expand uk-margin-small-top uk-text-bold uk-border-rounded uk-padding-remove uk-text-center">Registrierung</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-primary">
                    <div class="uk-card-body">
                        <div class="uk-flex uk-flex-column">
                            <span class="size-h2">DEZ</span>
                            <span class="size-h1">1</span>
                            <span class="uk-width-1-1 uk-width-2-3@s">Deutsch-Türkisches Kooperationsforum</span>
                            <div>
                                <span class="uk-icon" uk-icon="icon: icn-clock"></span>
                                <span>10:00</span>
                            </div>
                        </div>
                        <a href=""
                           class="uk-button uk-button-secondary uk-width-expand uk-margin-small-top uk-text-bold uk-border-rounded uk-padding-remove uk-text-center">Registrierung</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-primary">
                    <div class="uk-card-body">
                        <div class="uk-flex uk-flex-column">
                            <span class="size-h2">DEZ</span>
                            <span class="size-h1">1</span>
                            <span class="uk-width-1-1 uk-width-2-3@s">Deutsch-Türkisches Kooperationsforum</span>
                            <div>
                                <span class="uk-icon" uk-icon="icon: icn-clock"></span>
                                <span>10:00</span>
                            </div>
                        </div>
                        <a href=""
                           class="uk-button uk-button-secondary uk-width-expand uk-margin-small-top uk-text-bold uk-border-rounded uk-padding-remove uk-text-center">Registrierung</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-primary">
                    <div class="uk-card-body">
                        <div class="uk-flex uk-flex-column">
                            <span class="size-h2">DEZ</span>
                            <span class="size-h1">1</span>
                            <span class="uk-width-1-1 uk-width-2-3@s">Deutsch-Türkisches Kooperationsforum</span>
                            <div>
                                <span class="uk-icon" uk-icon="icon: icn-clock"></span>
                                <span>10:00</span>
                            </div>
                        </div>
                        <a href=""
                           class="uk-button uk-button-secondary uk-width-expand uk-margin-small-top uk-text-bold uk-border-rounded uk-padding-remove uk-text-center">Registrierung</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-primary">
                    <div class="uk-card-body">
                        <div class="uk-flex uk-flex-column">
                            <span class="size-h2">DEZ</span>
                            <span class="size-h1">1</span>
                            <span class="uk-width-1-1 uk-width-2-3@s">Deutsch-Türkisches Kooperationsforum</span>
                            <div>
                                <span class="uk-icon" uk-icon="icon: icn-clock"></span>
                                <span>10:00</span>
                            </div>
                        </div>
                        <a href=""
                           class="uk-button uk-button-secondary uk-width-expand uk-margin-small-top uk-text-bold uk-border-rounded uk-padding-remove uk-text-center">Registrierung</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-primary">
                    <div class="uk-card-body">
                        <div class="uk-flex uk-flex-column">
                            <span class="size-h2">DEZ</span>
                            <span class="size-h1">1</span>
                            <span class="uk-width-1-1 uk-width-2-3@s">Deutsch-Türkisches Kooperationsforum</span>
                            <div>
                                <span class="uk-icon" uk-icon="icon: icn-clock"></span>
                                <span>10:00</span>
                            </div>
                        </div>
                        <a href=""
                           class="uk-button uk-button-secondary uk-width-expand uk-margin-small-top uk-text-bold uk-border-rounded uk-padding-remove uk-text-center">Registrierung</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-primary">
                    <div class="uk-card-body">
                        <div class="uk-flex uk-flex-column">
                            <span class="size-h2">DEZ</span>
                            <span class="size-h1">1</span>
                            <span class="uk-width-1-1 uk-width-2-3@s">Deutsch-Türkisches Kooperationsforum</span>
                            <div>
                                <span class="uk-icon" uk-icon="icon: icn-clock"></span>
                                <span>10:00</span>
                            </div>
                        </div>
                        <a href=""
                           class="uk-button uk-button-secondary uk-width-expand uk-margin-small-top uk-text-bold uk-border-rounded uk-padding-remove uk-text-center">Registrierung</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-primary">
                    <div class="uk-card-body">
                        <div class="uk-flex uk-flex-column">
                            <span class="size-h2">DEZ</span>
                            <span class="size-h1">1</span>
                            <span class="uk-width-1-1 uk-width-2-3@s">Deutsch-Türkisches Kooperationsforum</span>
                            <div>
                                <span class="uk-icon" uk-icon="icon: icn-clock"></span>
                                <span>10:00</span>
                            </div>
                        </div>
                        <a href=""
                           class="uk-button uk-button-secondary uk-width-expand uk-margin-small-top uk-text-bold uk-border-rounded uk-padding-remove uk-text-center">Registrierung</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-padding uk-flex uk-flex-center uk-padding-remove-horizontal"
             uk-scrollspy="cls: uk-animation-fade; delay: 250">
            <a href=""
               class="uk-button uk-button-primary uk-text-bold uk-border-rounded uk-width-1-1 uk-width-1-3@s uk-width-1-5@m">zum kalender</a>
        </div>
    </section>
    <!--Grid Bölüm-->
    <section>
        <div class="uk-grid uk-grid-collapse uk-margin-medium-bottom" uk-grid="masonry: true">
            <div class="uk-width-2-3@s uk-flex">
                <div class="uk-width-2-3 grid-first-line">
                    <a href="">
                        <div class="uk-inline-clip uk-transition-toggle uk-width-1-1">
                            <img src="https://picsum.photos/570/400" alt="" class="uk-transition-scale-up uk-transition-opaque uk-width-1-1" uk-img>
                            <div class="uk-visible@m uk-overlay uk-position-bottom uk-background-primary color-white uk-transition-slide-bottom uk-h2 uk-margin-remove">Markteintritt</div>
                            <div class="uk-hidden@m uk-overlay uk-position-top uk-background-primary color-white  uk-h2 uk-margin-remove">Markteintritt</div>
                        </div>
                    </a>
                </div>
                <div class="uk-width-1-3 grid-first-line uk-inline-clip uk-transition-toggle">
                    <a href="">
                        <div class="uk-inline-clip uk-transition-toggle uk-width-1-1">
                            <img src="https://picsum.photos/285/400" alt="" class="uk-transition-scale-up uk-transition-opaque uk-width-1-1" uk-img>
                            <div class="uk-visible@m uk-overlay uk-position-center  color-white uk-transition-fade uk-h2 uk-margin-remove">Außenhandelsportal</div>
                            <div class="uk-hidden@m uk-overlay uk-position-center  color-white uk-h6 uk-margin-remove">Außenhandelsportal</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="uk-width-1-3@s">
                <a href="">
                    <div class="uk-inline-clip uk-transition-toggle uk-width-1-1">
                        <img src="https://picsum.photos/285/400" alt="" class="uk-transition-scale-up uk-transition-opaque uk-width-1-1" uk-img>
                        <div class="uk-visible@m uk-overlay uk-position-top uk-background-primary color-white uk-transition-slide-top uk-h2 uk-margin-remove">Infoblatter</div>
                        <div class="uk-hidden@m uk-overlay uk-position-top uk-background-primary color-white  uk-h2 uk-margin-remove">Infoblatter</div>
                    </div>
                </a>
            </div>
            <div class="uk-width-2-3@s">
                <a href="" class="uk-link-reset">
                    <div class="uk-grid uk-grid-collapse" uk-grid>
                        <div class="uk-width-1-4 uk-background-primary">
                            <a href="">
                                <img src="https://picsum.photos/250/234" alt="" class="uk-transition-scale-up uk-transition-opaque uk-width-1-1" uk-img>
                            </a>
                        </div>
                        <div class="uk-width-3-4 uk-background-muted uk-position-relative">
                            <div class="uk-position-absolute" style="height: 3px; background-color: rgb(230, 152, 230); bottom: 0; width: 100%;"></div>
                            <div class="uk-position-absolute uk-position-bottom-left"><span class="uk-margin-small-left uk-margin-small-bottom play-icon" uk-icon="icon: icn-play; ratio: 2"></span></div>
                            <div class="uk-h2 uk-padding-small uk-margin-remove">
                                <span id="podcaster">THK Podcast</span>
                                <span>:</span>
                                <span>Test</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!--Podcast-->
    <section>
        <h2>Podcasts</h2>
        <div class="podcast-container">
            <div>
                <div class="uk-grid uk-grid-medium podcast-wrapper" uk-grid>
                    <div class="uk-width-1-4 uk-width-1-6@s uk-padding-small ">
                        <a href="" class="uk-link-reset"><span class="uk-preserve uk-margin-small-left podcast-icon" uk-icon="icon: icn-podcast"></span></a>
                    </div>
                    <div class="uk-width-expand uk-width-3-4@s uk-padding-small">
                        <a href="" class="uk-link-reset">
                            <div class="uk-text-large uk-text-truncate line-height-1">Podcast Theme Creation</div>
                            <div class="uk-text-small line-height-1">THIDK</div>
                        </a>
                    </div>
                    <div class="uk-width-auto uk-padding-small">
                        <a href="" class="uk-link-reset">
                            <span class="uk-preserve" uk-icon="icon:icn-play; ratio: 2.3334"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-grid uk-grid-medium podcast-wrapper" uk-grid>
                    <div class="uk-width-1-4 uk-width-1-6@s uk-padding-small">
                        <a href="" class="uk-link-reset"><span class="uk-preserve uk-margin-small-left podcast-icon" uk-icon="icon: icn-podcast"></span></a>
                    </div>
                    <div class="uk-width-expand uk-width-3-4@s uk-padding-small">
                        <a href="" class="uk-link-reset">
                            <div class="uk-text-large uk-text-truncate line-height-1">Podcast Theme Creation</div>
                            <div class="uk-text-small line-height-1">THIDK</div>
                        </a>
                    </div>
                    <div class="uk-width-auto uk-padding-small">
                        <a href="" class="uk-link-reset">
                            <span class="uk-preserve" uk-icon="icon:icn-play; ratio: 2.3334"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <!--İkinci Slayt-->
    <section>
        <h2 class="uk-text-center uk-text-bold">Lernen Sie mehr über die Vorteile einer Mitgliedschaft</h2>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
             uk-slider="autoplay: true; autoplay-interval: 5000">

            <ul class="uk-slider-items uk-child-width-1-1">
                <li>
                    <img src="~/Content/MainSite/assets/images/slider-2.png" alt="">

                </li>
                <li>
                    <img src="~/Content/MainSite/assets/images/slider-2.png" alt="">

                </li>
                <li>
                    <img src="~/Content/MainSite/assets/images/slider-2.png" alt="">
                </li>
            </ul>
            <a class="uk-position-center-left uk-position-small slide-arrow" href="#" uk-icon="icon:icn-arrow-left"
               uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small slide-arrow" href="#" uk-icon="icon:icn-arrow-right"
               uk-slider-item="next"></a>
        </div>
        <div class="uk-padding uk-flex uk-flex-center uk-padding-remove-horizontal"
             uk-scrollspy="cls: uk-animation-fade; delay: 250">
            <a href="" class="uk-button uk-button-primary uk-text-bold uk-border-rounded uk-width-1-1 uk-width-1-3@s uk-width-1-5@m">zuden Vorteilen</a>
        </div>
    </section>
    <!--Haberler-->
    <section>
        <h2 class="uk-text-bold">Nachrichten</h2>
        <!--Haber Örneği-->
        <!--İlk haber örneği (cshtml'e) bu kısmı taşırsın)-->
        <div class="uk-grid uk-grid-medium uk-margin-large-bottom" uk-grid>
            <div class="uk-width-1-4 uk-width-1-6@s">
                <div class="uk-grid uk-child-width-1-2 uk-grid-small" uk-grid>
                    <div class="uk-flex">
                        <div class="uk-margin-small-right event-day" style="line-height: .7;">
                            4
                        </div>
                        <div class="uk-flex uk-flex-column event-date">
                            <span class="line-height-1">OKT</span>
                            <span class="line-height-1">2020</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-3-4 uk-width-expand@s">
                <div class="size-20 uk-width-1-1 uk-width-3-4@s uk-margin-small-left">
                    Kurzarbeitergeld bis 31.12.2021
                    verlängert / Mehr Kinderkrankengeldtage für
                    arbeitende Eltern Wir möchten Sie über einige weitere Beschlüsse der Großen Koalition
                    aufgrund der Pandemie und
                    ihrer Auswirkungen informieren.
                </div>
                <div>
                    <a href="" class="uk-link-reset">
                        <div class="uk-flex uk-flex-middle">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: icn-chevron-right"></span>
                            <span class="uk-h2 uk-margin-remove uk-text-bold">Weiter</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--İlk haber örneği sonu-->
        <div class="uk-grid uk-grid-medium uk-margin-large-bottom" uk-grid>
            <div class="uk-width-1-4 uk-width-1-6@s">
                <div class="uk-grid uk-child-width-1-2 uk-grid-small" uk-grid>
                    <div class="uk-flex">
                        <div class="uk-margin-small-right event-day" style="line-height: .7;">
                            4
                        </div>
                        <div class="uk-flex uk-flex-column event-date">
                            <span class="line-height-1">OKT</span>
                            <span class="line-height-1">2020</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-3-4 uk-width-expand@s">
                <div class="size-20 uk-width-1-1 uk-width-3-4@s uk-margin-small-left">
                    Kurzarbeitergeld bis 31.12.2021
                    verlängert / Mehr Kinderkrankengeldtage für
                    arbeitende Eltern Wir möchten Sie über einige weitere Beschlüsse der Großen Koalition
                    aufgrund der Pandemie und
                    ihrer Auswirkungen informieren.
                </div>
                <div>
                    <a href="" class="uk-link-reset">
                        <div class="uk-flex uk-flex-middle">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: icn-chevron-right"></span>
                            <span class="uk-h2 uk-margin-remove uk-text-bold">Weiter</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-grid-medium uk-margin-large-bottom" uk-grid>
            <div class="uk-width-1-4 uk-width-1-6@s">
                <div class="uk-grid uk-child-width-1-2 uk-grid-small" uk-grid>
                    <div class="uk-flex">
                        <div class="uk-margin-small-right event-day" style="line-height: .7;">
                            4
                        </div>
                        <div class="uk-flex uk-flex-column event-date">
                            <span class="line-height-1">OKT</span>
                            <span class="line-height-1">2020</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-3-4 uk-width-expand@s">
                <div class="size-20 uk-width-1-1 uk-width-3-4@s uk-margin-small-left">
                    Kurzarbeitergeld bis 31.12.2021
                    verlängert / Mehr Kinderkrankengeldtage für
                    arbeitende Eltern Wir möchten Sie über einige weitere Beschlüsse der Großen Koalition
                    aufgrund der Pandemie und
                    ihrer Auswirkungen informieren.
                </div>
                <div>
                    <a href="" class="uk-link-reset">
                        <div class="uk-flex uk-flex-middle">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: icn-chevron-right"></span>
                            <span class="uk-h2 uk-margin-remove uk-text-bold">Weiter</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Haber Örneği Sonu-->
        <p class="uk-text-center uk-text-bold uk-margin-medium-bottom" style="font-size: 25px">
            Melden Sie sich für
            unserer Newsletter an um die Neusten Nachrichten zu erhalten.
        </p>

        @Html.Action("Index","Newsletter")

    </section>
</main>
