
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TD IHK</title>
</head>
<body>
    @Html.Partial("~/Views/Partial/_PartialInvestData.cshtml")


    @Html.Partial("~/Views/Partial/_PartialHeader.cshtml")


    @RenderBody()


    @Html.Partial("~/Views/Partial/_PartialFooter.cshtml")

</body>

</html>
