@model TDIHKCorporate.Types.Pages
@using System.Globalization
@{
    Layout = "~/Views/Shared/_layoutMaster.cshtml";
    CultureInfo cultureInfo = System.Threading.Thread.CurrentThread.CurrentCulture;
    string lang = cultureInfo.TwoLetterISOLanguageName;
}

<head>
    <meta charset="utf-8">

    @if (lang == "tr")
    {
        <meta name="description" content="Korona salgını, bilhassa seyahatlarda önemli belirsizliğe neden oluyor. Her zaman uyulması gereken yeni kurallar gündeme çıkabilir. En güncel duruma hakim olmalısınız. Lütfen Federal Dışişleri Bakanlığı, Federal Almanya Büyükelçiliği ve Federal İçişleri Bakanlığı'nın web sitelerinden bilgi alın. Burada size en önemli bilgilerden bazılarını sağlıyor ve bunları düzenli aralıklarla güncelliyoruz.">
        <title>TD IHK Covid-19</title>
    }
    else
    {
        <meta name="description" content="Die Corona-Pandemie führt weltweit zu erheblicher Verunsicherung beim Reisen. Immer wieder gibt es neue Regeln zu beachten. Bitte halten Sie sich auf den Seiten des Auswärtigen Amts und des Bundesinnenministeriums informiert. Hier stellen wir Ihnen einige der wichtigsten Informationen zur Verfügung und aktualisieren diese in regelmäßigen Abständen.">
        <title>TD IHK Covid-19</title>
    }

    <meta name="keywords" content="td ihk covid,ihk covid,covid-19,almanya korona haberleri,almanya covid 19,td ihk covid nachrichten,germany covid nachrichten,covid maßnahmen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="TD IHK">
</head>



<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section; delay: 250">
    @Html.Raw(Model.PageContent)
    <section>
        <!--Haber kartları-->
        <div class="uk-flex uk-flex-middle uk-margin-small-bottom"><span style="height: 25px; width: 5px; background-color: black" class="uk-margin-small-right"></span><span class="size-20" style="color: black">News</span></div>
        <div class="uk-grid uk-grid-small uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m uk-margin-medium-bottom" uk-grid>
            <!-- Buradaki imajlara da 500px en 300px boy şeklinde yüklemeliyiz.-->
            <div>
                <a href="#" class="uk-link-reset">
                    <div class="uk-inline-clip uk-transition-toggle">
                        <img src="https://picsum.photos/500/300" class="uk-width-1-1 uk-height-1-1 uk-transition-opaque uk-transition-scale-up" />
                    </div>
                    <div class="news-card-title line-height-1">Pfizer vaccine is '94% effective in over-65's'</div>
                    <div class="news-card-subtitle">The jap works equally well in people of all ages and ethnicities, further data suggests. </div>
                </a>
            </div>
            <div>
                <a href="#" class="uk-link-reset">
                    <div class="uk-inline-clip uk-transition-toggle">
                        <img src="https://picsum.photos/500/300" class="uk-width-1-1 uk-height-1-1 uk-transition-opaque uk-transition-scale-up" />
                    </div>
                    <div class="news-card-title line-height-1">Pfizer vaccine is '94% effective in over-65's'</div>
                    <div class="news-card-subtitle">The jap works equally well in people of all ages and ethnicities, further data suggests. </div>
                </a>
            </div>
            <div>
                <a href="#" class="uk-link-reset">
                    <div class="uk-inline-clip uk-transition-toggle">
                        <img src="https://picsum.photos/500/300" class="uk-width-1-1 uk-height-1-1 uk-transition-opaque uk-transition-scale-up" />
                    </div>
                    <div class="news-card-title line-height-1">Pfizer vaccine is '94% effective in over-65's'</div>
                    <div class="news-card-subtitle">The jap works equally well in people of all ages and ethnicities, further data suggests. </div>
                </a>
            </div>
        </div>
    </section>
</main>

<section class="uk-section">
    <div class="uk-width-1-2@m uk-margin-auto">
        <div class="uk-form-stacked uk-grid-medium register-form" uk-grid>

            @if (lang == "tr")
            {

                <div class="uk-width-1-2@s uk-margin-auto">
                    <a class="uk-button uk-button-primary uk-width-1-1 uk-border-rounded" href="/tr/sayfalar/etkinlik-arsivi">Dijital Arşiv</a>
                </div>
            }
            else
            {
                <div class="uk-width-1-2@s uk-margin-auto">
                    <a class="uk-button uk-button-primary uk-width-1-1 uk-border-rounded" href="/de/seiten/event-archive">Digital Archiv</a>
                </div>

            }

        </div>
    </div>
</section>
