@model TDIHKCorporate.Types.Pages
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutMaster.cshtml";
}

<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section > div; delay: 100">

    @Html.Raw(Model.PageContent)

    <!--Bülten Aboneliği-->
    @Html.Action("Index", "Newsletter")
</main>




