@model TDIHKCorporate.Types.Pages
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutMaster.cshtml";
}

<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section; delay: 100">
    <!--Sayfa Başlığı-->
    <div class="uk-background-secondary">
        <h1 class="uk-h5 banner-padding uk-margin-remove">Mitgliedschaft</h1>
    </div><!--Sayfa Başlığı sonu-->
    <!--Banner: Eklenen imajın en boy oranı korunur.-->

    <div><img src="/Content/MainSite/assets/images/mitgliedschaft-banner.jpg" alt="" uk-img="" /></div><!--Banner sonu-->
    @Html.Raw(Model.PageContent)
</main>