
@{
    ViewBag.Title = "Infoblatter";
    Layout = "~/Views/Shared/_layoutMaster.cshtml";
}

<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section; delay: 250">
    <section>
        <!--Sayfa Başlığı-->
        <div class="uk-background-secondary">
            <h1 class="uk-h5 banner-padding uk-margin-remove">Veröffentlichungen > Infoblatter</h1>
        </div>
        <!--Sayfa Başlığı sonu-->
        <!-- Banner-->
        <div>
            <img src="~/Content/MainSite/assets/images/Infoblatter/Infoblatter-bg.png" alt="" uk-img>
        </div>
    </section>
    <section>
        <div>
            <h2 class="uk-margin-medium-top">Lorem Ipsum Dolor sit Amet</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </section>
    <section>
        <ul class="uk-margin-medium-bottom" uk-accordion>
            <li>
                <a class="uk-link-reset uk-accordion-title accordion-title-iconless size-30 size-20-m uk-text-bold" href="#">Bilgi Notu 1: Lorem ipsum dolor sit amet</a>
            </li>
            <li>
                <a class="uk-link-reset uk-accordion-title accordion-title-iconless size-30 size-20-m uk-text-bold" href="#">Bilgi Notu 2: Lorem ipsum dolor sit amet</a>
            </li>
            <li>
                <a class="uk-link-reset uk-accordion-title accordion-title-iconless size-30 size-20-m uk-text-bold" href="#">Bilgi Notu 3: Lorem ipsum dolor sit amet</a>
            </li>
            <li>
                <a class="uk-link-reset uk-accordion-title accordion-title-iconless size-30 size-20-m uk-text-bold" href="#">Bilgi Notu 4: Lorem ipsum dolor sit amet</a>
            </li>
            <li>
                <a class="uk-link-reset uk-accordion-title accordion-title-iconless size-30 size-20-m uk-text-bold" href="#">Bilgi Notu 5: Lorem ipsum dolor sit amet</a>
            </li>
            <li>
                <a class="uk-link-reset uk-accordion-title accordion-title-iconless size-30 size-20-m uk-text-bold" href="#">Bilgi Notu 6: Lorem ipsum dolor sit amet</a>
            </li>
            <li>
                <a class="uk-link-reset uk-accordion-title accordion-title-iconless size-30 size-20-m uk-text-bold" href="#">Bilgi Notu 7: Lorem ipsum dolor sit amet</a>
            </li>
            <li>
                <a class="uk-link-reset uk-accordion-title accordion-title-iconless size-30 size-20-m uk-text-bold" href="#">Bilgi Notu 8: Lorem ipsum dolor sit amet</a>
            </li>
            <li>
                <a class="uk-link-reset uk-accordion-title accordion-title-iconless size-30 size-20-m uk-text-bold" href="#">Bilgi Notu 9: Lorem ipsum dolor sit amet</a>
            </li>
        </ul>
    </section>

    @Html.Action("Index", "Newsletter")
</main>