@model TDIHKCorporate.Types.Pages
@{
    ViewBag.Title = "Podcasts";
    Layout = "~/Views/Shared/_layoutMaster.cshtml";
}

<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section; delay: 250">
    @*<iframe style="background-image:#ffffff" src="https://open.spotify.com/embed/playlist/37i9dQZF1DX4Y4RhrZqHhr" width="100%" height="600" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>*@

    <section>
            <div>
                <img src="@Model.PageImagePath" alt="" uk-img>
            </div>
        </section>
        <section>
            @Html.Raw(Model.PageContent)
        </section>

    @Html.Action("GetPodcasts")
    <br />
    <br />
</main>


