@model List<TDIHKCorporate.Types.ViewTypes.Institution>

<head>
    <meta charset="utf-8">
    <meta name="description" content="TD IHK Institution | TD IHK Kurum">
    <meta name="keywords" content="td ihk hakkında, td ihk kurum bilgileri,td ihk institution,ihk institution">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="TD IHK">
</head>

<!-- Timeline-->
<section>
    <div class="uk-width-1-1 uk-margin-auto">
        <div class="main-timeline">

            @foreach (var item in Model)
            {
                <div class="timeline">
                    <div class="timeline-content">
                        <div class="timeline-year">@item.InstitutionDate.Year </div>
                        <h3 class="title">@item.InstitutionTitle</h3>
                        <p class="description">
                           @item.InstitutionDescription
                        </p>
                    </div>
                </div>
            }

        </div>
    </div>
</section>