
@{
    ViewBag.Title = "Institution";
    Layout = "~/Views/Shared/_layoutMaster.cshtml";
}

<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section; delay: 250">
    <section>
        <!-- Banner-->
        <div>
            <img src="~/Content/MainSite/assets/images/Institution/bg.jpg"/>
        </div>
    </section>
    <!-- Text- Content-->
    <section>
    </section>
    </main>
