@model TDIHKCorporate.Types.Pages
@{
    ViewBag.Title = "Institution";
    Layout = "~/Views/Shared/_layoutMaster.cshtml";
}

<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section; delay: 250">
	<section>
		<!-- Banner-->
		<div>
			<img src="@Model.PageImagePath" alt="@Model.PageTitle" />
		</div>
	</section>
	<!-- Text- Content-->
	<section>
		<div class="uk-margin-medium-top">
			@*<div class="uk-h2">Lorem Ipsum</div>
			<p>Lorem ipsum dolor sit amet</p>*@
            @Html.Raw(Model.PageContent)
		</div>
	</section>
    <br />
	
	@Html.Action("GetInstitutionTimeline", "AboutUs")
</main>
<br />