
@{
    Layout = null;
}

<div class="uk-margin-medium-bottom">
    <!--Bülten Aboneliği-->
    <form action="" class="uk-width-2-3@s uk-margin-auto subscriptionForm" id="subscriptionForm">
        <div class="uk-grid uk-child-width-1-1 uk-child-width-1-2@s uk-grid-medium" uk-grid uk-height-match="target: > div > *">
            <div>
                <input type="email" class="uk-input uk-border-rounded subscription-email" placeholder="E-mail Adresse" required>
            </div>
            <div>
                <button class="uk-button uk-button-primary uk-border-rounded uk-width-1-1" type="submit">Anmeden</button>
            </div>
        </div>
    </form>
    <!--Bülten Aboneliği Sonu-->
    <div class="uk-margin-small-top uk-width-1-1 uk-width-3-4@s uk-margin-auto">
        <p class="uk-width-2-5@s uk-margin-auto">Informationen dazu, wie TD-IHK mit deinen Daten umgeht, findest du in unserer <b>Datenschutzerklarung</b></p>
    </div>
</div>