
@{
    ViewBag.Title = "Jobangebote";
    Layout = "~/Views/Shared/_layoutMaster.cshtml";
}

<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section; delay: 250">
	<section>
		<!--Sayfa Başlığı-->
		<div class="uk-background-secondary">
			<h1 class="uk-h5 banner-padding uk-margin-remove">Jobangebote</h1>
		</div>
		<!--Sayfa Başlığı sonu-->
		<!-- Banner-->
		<div>
			<img src="~/Content/MainSite/assets/images/konferenzraum/banner.png" alt="" uk-img>
		</div>
	</section>
</main>
