@model TDIHKCorporate.Types.Pages
@{
	ViewBag.Title = "Jobangebote";
	Layout = "~/Views/Shared/_layoutMaster.cshtml";
}

<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section; delay: 250">
	<section>
		<!--Sayfa Başlığı-->
		<div class="uk-background-secondary">
			<h1 class="uk-h5 banner-padding uk-margin-remove">@Model.PageTitle</h1>
		</div>
		<!--Sayfa Başlığı sonu-->
		<!-- Banner-->
		<div>
			<img src="@Model.PageImagePath" alt="" uk-img>
		</div>
	</section>
	
    @Html.Raw(Model.PageContent)

	<!-- Kartlar-->
	<section class="uk-section uk-section-muted jobangebote-wrapper uk-border-rounded uk-margin-medium-bottom">
        <div class="uk-grid uk-grid-small uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid uk-height-match="target: > div > div > .uk-card-body">
            <!--Kart Örneği-->

            <div>
                <div class="uk-card uk-card-secondary uk-border-rounded uk-inline uk-visible-toggle uk-transition-toggle">
                    <div class="uk-card-body">
                        <a class="uk-link-reset">
                            <div class="uk-button uk-button-secondary uk-width-1-1 uk-text-bold uk-margin-medium-bottom">Ihr Logo hier</div>
                            <div class="uk-text-center uk-text-bold ad-question">Würden Sie gerne ein Jobangebot hier veröffentlichen?</div>
                        </a>
                    </div>
					<div class="uk-overlay uk-overlay-primary uk-background-primary uk-position-cover uk-transition-fade">
                        <div class="uk-text-center uk-margin-medium-bottom uk-margin-medium-top">Für unsere Mitglieder ist dies auf dieser Seite <u>kostenlos.</u> Wenn Sie möchten können Sie Mitglied werden, oder fragen Sie an was die Veröffentlichung ohne Mitgliedschaft kostet.</div>
						<a class="uk-button uk-button-secondary uk-width-1-1 uk-margin-medium-bottom uk-border-rounded">Zu den Vorteilen</a>
					</div>
                </div>
            </div>


            <div>
                <div class="uk-card uk-card-secondary uk-border-rounded">
                    <div class="uk-card-body uk-flex uk-flex-column uk-flex-between">
                        <div class="uk-flex uk-flex-column uk-flex-between">
                            <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
                                <img src="/Content/MainSite/assets/images/Turkish Airlines.svg" class="height-card-logo" />
                            </div>
                            <div>
                                <div class="size-20 uk-text-bold">Teckniker</div>
                                <div class="color-dark-grey size-18 size-15-m">Turkish Airlines Turkish Airlines Turkish Airlines Turkish Airlines Turkish Airlines</div>
                                <div class="color-dark-grey size-18 size-15-m">Berlin, DE</div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-flex uk-flex-center uk-margin-medium-top uk-margin-medium-bottom">
                                <a href="#" class="uk-button uk-button-primary uk-border-rounded">Zu den Jobangeboten</a>
                            </div>
                            <div class="color-dark-grey">Vor <span>5</span> tagen</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Kart örneği sonu-->
            <div>
                <div class="uk-card uk-card-secondary uk-border-rounded">
                    <div class="uk-card-body uk-flex uk-flex-column uk-flex-between">
                        <div class="uk-flex uk-flex-column uk-flex-between">
                            <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
                                <img src="/Content/MainSite/assets/images/Turkish Airlines.svg" class="height-card-logo" />
                            </div>
                            <div>
                                <div class="size-20 uk-text-bold">Teckniker</div>
                                <div class="color-dark-grey size-18 size-15-m">Turkish Airlines Turkish Airlines Turkish Airlines Turkish Airlines Turkish Airlines</div>
                                <div class="color-dark-grey size-18 size-15-m">Berlin, DE</div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-flex uk-flex-center uk-margin-medium-top uk-margin-medium-bottom">
                                <a href="#" class="uk-button uk-button-primary uk-border-rounded">Zu den Jobangeboten</a>
                            </div>
                            <div class="color-dark-grey">Vor <span>5</span> tagen</div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-border-rounded">
                    <div class="uk-card-body uk-flex uk-flex-column uk-flex-between">
                        <div class="uk-flex uk-flex-column uk-flex-between">
                            <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
                                <img src="/Content/MainSite/assets/images/Turkish Airlines.svg" class="height-card-logo" />
                            </div>
                            <div>
                                <div class="size-20 uk-text-bold">Teckniker</div>
                                <div class="color-dark-grey size-18 size-15-m">Turkish Airlines Turkish Airlines Turkish Airlines Turkish Airlines Turkish Airlines</div>
                                <div class="color-dark-grey size-18 size-15-m">Berlin, DE</div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-flex uk-flex-center uk-margin-medium-top uk-margin-medium-bottom">
                                <a href="#" class="uk-button uk-button-primary uk-border-rounded">Zu den Jobangeboten</a>
                            </div>
                            <div class="color-dark-grey">Vor <span>5</span> tagen</div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-border-rounded">
                    <div class="uk-card-body uk-flex uk-flex-column uk-flex-between">
                        <div class="uk-flex uk-flex-column uk-flex-between">
                            <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
                                <img src="/Content/MainSite/assets/images/Turkish Airlines.svg" class="height-card-logo" />
                            </div>
                            <div>
                                <div class="size-20 uk-text-bold">Teckniker</div>
                                <div class="color-dark-grey size-18 size-15-m">Turkish Airlines</div>
                                <div class="color-dark-grey size-18 size-15-m">Berlin, DE</div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-flex uk-flex-center uk-margin-medium-top uk-margin-medium-bottom">
                                <a href="#" class="uk-button uk-button-primary uk-border-rounded">Zu den Jobangeboten</a>
                            </div>
                            <div class="color-dark-grey">Vor <span>5</span> tagen</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
	</section>

	@Html.Action("Index", "Newsletter")
</main>
