@model TDIHKCorporate.Types.Pages
@{
    ViewBag.Title = "Konferenzraum";
    Layout = "~/Views/Shared/_layoutMaster.cshtml";
}

<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section; delay: 250">
   @Html.Raw(Model.PageContent)
</main>

