
@{
    ViewBag.Title = "Markteintritt";
    Layout = "~/Views/Shared/_layoutMaster.cshtml";
}
<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section; delay: 250">
    <section>
        <div>
            <img src="~/Content/MainSite/assets/images/mark/BG.png" class="uk-width-1-1"/>
        </div>
    </section>
    <section>
        <div class="uk-h2 uk-margin-medium-top">Lorem Dolor Sit Amet</div>
        <p>Lorem ipsum dolor sit amet</p>
    </section>
    <section>
		<div class="uk-child-width-1-2@s uk-margin-medium-bottom" uk-grid>
			<div>
				<div class="uk-inline">
					<a class="uk-link-reset uk-inline-clip uk-transition-toggle uk-visible-toggle">
						<img src="~/Content/MainSite/assets/images/mark/Türkei.png" class="uk-width-1-1 uk-transition-scale-up uk-transition-opaque" />
						<div class="uk-overlay uk-position-cover uk-overlay-default uk-transition-fade uk-flex uk-flex-column uk-flex-between marktrein-card">
							<div>
								<div class="uk-h3">Türkei</div>
								<p>Lorem ipsum d</p>
							</div>
							<div class="uk-flex uk-flex-middle">
								<span class="uk-margin-small-right" uk-icon="icon: icn-chevron-right"></span>
								<div class="uk-h2 uk-margin-remove">Weiterlesen</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div>
				<div class="uk-inline">
					<a class="uk-link-reset uk-inline-clip uk-transition-toggle uk-visible-toggle">
						<img src="~/Content/MainSite/assets/images/mark/Deutschland.png" class="uk-width-1-1 uk-transition-scale-up uk-transition-opaque" />
						<div class="uk-overlay uk-position-cover uk-overlay-default uk-transition-fade uk-flex uk-flex-column uk-flex-between marktrein-card">
							<div>
								<div class="uk-h3">Türkei</div>
								<p>Lorem ipsum d</p>
							</div>
							<div class="uk-flex uk-flex-middle">
								<span class="uk-margin-small-right" uk-icon="icon: icn-chevron-right"></span>
								<div class="uk-h2 uk-margin-remove">Weiterlesen</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div>
				<div class="uk-inline">
					<a class="uk-link-reset uk-inline-clip uk-transition-toggle uk-visible-toggle">
						<img src="~/Content/MainSite/assets/images/mark/Musterverträge.png" class="uk-width-1-1 uk-transition-scale-up uk-transition-opaque" />
						<div class="uk-overlay uk-position-cover uk-overlay-default uk-transition-fade uk-flex uk-flex-column uk-flex-between marktrein-card">
							<div>
								<div class="uk-h3">Türkei</div>
								<p>Lorem ipsum d</p>
							</div>
							<div class="uk-flex uk-flex-middle">
								<span class="uk-margin-small-right" uk-icon="icon: icn-chevron-right"></span>
								<div class="uk-h2 uk-margin-remove">Weiterlesen</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div>
				<div class="uk-inline">
					<a class="uk-link-reset uk-inline-clip uk-transition-toggle uk-visible-toggle">
						<img src="~/Content/MainSite/assets/images/mark/Förderung & Finanzierung.png" class="uk-width-1-1 uk-transition-scale-up uk-transition-opaque" />
						<div class="uk-overlay uk-position-cover uk-overlay-default uk-transition-fade uk-flex uk-flex-column uk-flex-between marktrein-card">
							<div>
								<div class="uk-h3">Türkei</div>
								<p>Lorem ipsum d</p>
							</div>
							<div class="uk-flex uk-flex-middle">
								<span class="uk-margin-small-right" uk-icon="icon: icn-chevron-right"></span>
								<div class="uk-h2 uk-margin-remove">Weiterlesen</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
    </section>
</main>
