@model List<TDIHKCorporate.Types.EventCategories>
@using System.Globalization

@{
    CultureInfo cultureInfo = System.Threading.Thread.CurrentThread.CurrentCulture;
    string lang = cultureInfo.TwoLetterISOLanguageName;
}


@if (Model.Count > 0)
{
    <section>
        <div class="uk-grid uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m uk-child-width-1-4@l uk-margin-small-top" uk-grid>
            @foreach (var item in Model)
            {
                if (lang == "de")
                {
                    <div>
                        <a href="/de/events/categories/@item.EventCategoryName.ToLower()" class="uk-link-reset">
                            <div class="uk-background-secondary uk-border-rounded uk-h6 uk-text-center uk-button  uk-width-1-1">
                                @item.EventCategoryName
                            </div>
                        </a>
                    </div>
                }
                else
                {
                    <div>
                        <a href="/tr/etkinlikler/kategoriler/@item.EventCategoryName.ToLower()" class="uk-link-reset">
                            <div class="uk-background-secondary uk-border-rounded uk-h6 uk-text-center uk-button  uk-width-1-1">
                                @item.EventCategoryName
                            </div>
                        </a>
                    </div>
                }
            }

        </div>
    </section>
}