@model List<TDIHKCorporate.Types.SliderContent>
@{
    ViewBag.Title = "EditSlider";
    Layout = "~/Areas/Management/Views/Shared/_layoutDashboard.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<style>
    #sortable {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 60%;
        cursor: move;
    }

        #sortable li {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            height: 1.5em;
        }

        html > body #sortable li {
            height: 2.5em;
            line-height: 1.7em;
        }

    .ui-state-highlight {
        height: 1.5em;
        line-height: 1.2em;
    }

    .ui-state-default {
        border: 3px solid #666;
        /*  background-color: #ddd;*/
        border-radius: .5em;
        padding: 10px;
        cursor: move;
    }
</style>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(function () {
        $("#sortable").sortable({
            placeholder: "ui-state-highlight"
        });
        $("#sortable").disableSelection();
    });
</script>

<div class="row">


    <div class="col-md-12">

        <ul id="sortable">

            @foreach (var item in Model)
            {
                string sliderGuid = Guid.NewGuid().ToString();

                <li slider-content-id="@item.SliderContentID" name="SliderContentListItem" class="ui-state-default">
                    <a data-toggle="collapse" data-parent="#sortable" href="#SliderContent_@sliderGuid">@item.SliderContentTitle</a>

                    @*<div id="SliderContent_@sliderGuid" class="collapse">
                            <img src="@item.ImagePath" alt="Alternate Text" />
                        </div>*@

                    <ul id="SliderContent_@sliderGuid" class="collapse">
                        <li style="list-style-type:none">
                            <div>
                                <img src="@item.ImagePath" alt="Alternate Text" />
                            </div>

                        </li>

                    </ul>


                </li>
            }

        </ul>

        <br />
        <button id="UpdateSlider" class="btn btn-success" style="float:inherit">Kaydet</button>
    </div>




</div>

<script>

    $("#UpdateSlider").click(function () {
        debugger

        var list = $("li[name='SliderContentListItem']");

        var sliderContent = [];

        var counter = 0;

        $.each(list, function () {
            counter++;

            var item = this;

            var sliderObject = {
                SliderContentID: item.getAttribute('slider-content-id'),
                SliderPriority: counter
            }

            sliderContent.push(sliderObject)

        });

        var callParams = {
            endPoint: "/Slider/UpdateSlider",
            requestType: "POST"
        }


        var dataParams = {};
        dataParams.updateSliderContents = [];
        dataParams.updateSliderContents = sliderContent;

        RequestAjax(callParams, dataParams, function (response) {
            response = JSON.parse(response);

            if (response === true) {
                alert("Slider sıralaması güncellendi.");
            }
            else {
                alert("Slider sıralaması güncellenemedi.");
            }

        });

    });
</script>